/* Corpo do site */
body {
  background-color: #fefaf6 !important;
  font-family: 'Merriweather', serif;
  font-weight: 400;
  line-height: 1.6;
  
  padding: 20px;
}

/* Títulos principais */
h1, h2, h3, h4, h5, h6 {
  font-family: 'Cinzel Decorative', cursive !important;
  font-weight: 700!important;
  color: #6D4C2F!important; /* marrom envelhecido */
  margin-bottom: 0.5em!important;
  text-align: center !important;
}

/* Parágrafos normais */
p {
  font-size: 1.2rem;
  margin-bottom: 2em;
  line-height: 1.6;
  font-weight: 500;
  font-family: 'Merriweather', serif;
  color: #6D4C2F;
}

.video {
  height: 400px!important;
  width: 100%!important;
  position: relative!important;
  }

.video video {
  width: 100%!important;
  height: 100%!important;
  object-fit: cover!important;
  z-index: 0!important;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Efeito de sombra */
  border-radius: 10px; /* Se quiser bordas arredondadas */
  }


.carousel-inner img {
  max-height: 0px; /* ajuste a altura conforme seu gosto */
  object-fit: cover;
  width: 10%;
}

.carousel-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 1vh;
}

#carouselExampleCaptions {
  width: 70%;
  height: 20%;
  
}

.carousel-inner img {
  max-height: 20%;
  object-fit: cover;
}

.carousel-caption {
                    /* fundo escuro com transparência */
  padding: 1rem;
  border-radius: 1px;
}

 #forn{
  width: 90%;
 }


/* Estilo da navbar */
.navbar {
  background-color: #f8f1e7; /* Cor de fundo personalizada */
  font-family: 'Cinzel Decorative', serif; /* Fonte decorativa */
}

/* Estilo dos links */
.navbar .nav-link {
  color: #6D4C2F !important; /* Cor do texto */
  font-weight: bold;
  font-size: 1rem;
}

/* Hover para links */
.navbar .nav-link:hover {
  color: #A0522D !important; /* Cor ao passar o mouse */
}

.navbar-collapse {
  display: block !important;
}









/* Tela pequena arvore  */
 @media (max-width: 767px) {
  .col-12 img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

/* Ajusta a margem entre os cartões */
.card {
  margin: 15px; /* Ajuste esse valor conforme a necessidade */
}

/* Se você também quiser ajustar a margem entre a linha dos cartões */
.row {
  margin-left: -15px; /* Ajuste esse valor para garantir que o espaçamento entre as colunas não seja muito grande */
  margin-right: -15px;
  margin-top: -15px;
}

/* Responsividade para telas pequenas */
@media (max-width: 576px) {
  .card {
    margin: 20px 5; /* Menor margem para telas pequenas */
  }
}

/* Botao piscar */
  @keyframes piscar {
    0%   { opacity: 1; }
    50%  { opacity: 0.3; }
    100% { opacity: 1; }
  }

